<launch>
  <node pkg="calibration" type="GPS_recording_node" name="gps_recording" output="screen"> 
    <rosparam>
        queue_size: 10
        gps_channel: "/fix"
        record_gps_channel: "/record_gps"
        GPS_waypoint_dir: "/home/yang/Documents/Projects/heterogeneous-sampling/src/calibration/data/gps_waypoints.txt"
        calibration_result_dir: "/home/yang/Documents/Projects/heterogeneous-sampling/src/calibration/data/gps_calibration.txt"
    </rosparam>
  </node>
</launch>

