<launch>
  <node pkg="calibration" type="GPS_calibration_node" name="gps_calibration" output="screen"> 
    <rosparam>
        Pelican_GPS_channel: "/fcu/gps"
        RTK_GPS_channel: "/fix"
        calibration_result_dir: "/home/yang/Documents/Projects/heterogeneous-sampling/src/calibration/gps_calibration.txt"
    </rosparam>
  </node>

</launch>

