<?xml version="1.0"?>

<robot
 xmlns:xacro="http://ros.org/wiki/xacro">


 <!-- This is the Velodyne VLP16 -->
  <link name="velodyne">
   <visual>
    <origin xyz="0 0 0.151" rpy="0 0 3.1415"/>
    <geometry>
    <mesh filename="package://cmu24_jackal/meshes/VLP16.dae"/>
    </geometry> 
   </visual>
  </link>

  <joint name="vlp16_to_sensor_mount" type="fixed">
    <parent link="front_mount"/>
    <child link="velodyne"/>
    <origin xyz="0 0 0"/>
  </joint>

 <!-- This is the Velodyne hatchplate mount -->
  <link name="hatchplate_link">
   <visual>
    <origin xyz="0 0 0"/>
    <geometry>
    <mesh filename="package://cmu24_jackal/meshes/hatchplate.dae"/>
    </geometry> 
   </visual>
  </link>

  <joint name="hatchplate_to_mid_mount" type="fixed">
    <parent link="mid_mount"/>
    <child link="hatchplate_link"/>
    <origin xyz="0 0 0"/>
  </joint>
  
   <!-- This is the UM7 IMU -->
  <link name="um7_link">
   
  </link>

  <joint name="um7_to_rear_mount" type="fixed">
    <parent link="rear_mount"/>
    <child link="um7_link"/>
    <origin xyz="0 0 0"/>
  </joint>


</robot>

