<launch>
      <arg name="id" default="0"/>
      <arg name="max_vel" default="3.0"/>
      <arg name="lat" default="0"/>
      <arg name="lon" default="8"/>
      <arg name="obstacle" default="True"/>
      <arg name="battery_life" default="1000"/>
      <node pkg="sampling_agent" type="fake_agent_node" name="fake_agent_$(arg id)" output="screen" >
            <rosparam command="load" file="$(find sampling_agent)/config/sampling_agent_config.yaml" />
            <rosparam command="load" file="$(find sampling_agent)/config/fake_agent_config.yaml" />
            <rosparam param="agent_id" subst_value="True">$(arg id)</rosparam>
            <rosparam param="fake_agent_max_vel" subst_value="True">$(arg max_vel)</rosparam>
            <rosparam param="fake_agent_initial_latitude" subst_value="True">$(arg lat)</rosparam>
            <rosparam param="fake_agent_initial_longitude" subst_value="True">$(arg lon)</rosparam>
            <rosparam param="obstacle_avoidance" subst_value="True">$(arg obstacle)</rosparam>
            <rosparam param="battery_life" subst_value="True">$(arg battery_life)</rosparam>
      </node>
</launch>
