<launch>   
   <remap from="measurement_channel" to="measurement_simulation"/>

    <node pkg="sampling_agent" type="sampling_agent_node" name="hector0" output="screen" >
        <rosparam>
            agent_type: "HECTOR"
            agent_id: "hector0"
            max_speed_ms: 4.0
            batterylife_ros_sec: 5000
            navigation_height_m: 3.0
            takeoff_distance_m: 0.5
        </rosparam>
    </node>
</launch>