<launch>   
   <node pkg="sampling_agent" type="sampling_agent_node" name="jackal0" output="screen" >
      <rosparam>
         agent_type: "JACKAL"
         agent_id: "jackal0"
      </rosparam>
   </node>
   <node pkg="sampling_agent" type="sampling_agent_node" name="jackal1" output="screen" >
      <rosparam>
         agent_type: "JACKAL"
         agent_id: "jackal1"
      </rosparam>
   </node>
</launch>