<launch>
  <arg name="simulation" value="false" />
  <arg name="jackal" value="false" />
  <arg name="pelican" value="false" />


  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller" /> -->
  
  <group if="$(arg jackal)">
    <node pkg="robot_agent" type="jackal_node" name="jackal" output="screen" >
        <rosparam command="load" file="$(find robot_agent)/config/jackal_config.yaml" />
     </node>
    <group if="$(arg simulation)">
      <include file = "$(find jackal_gazebo)/launch/jackal_world.launch">
        <arg name="config" value="front_laser" />
        <arg name="world_name" value="$(find jackal_gazebo)/worlds/scenario1.world" />
      </include>
      <include file = "$(find jackal_navigation)/launch/odom_navigation_demo.launch"/>
    </group>
  </group>
 

  <node pkg="sampling_core" type="centralized_sampling_node" name="sampling_core" output="screen"> 
    <rosparam command="load" file="$(find sampling_core)/config/centralized_sampling.yaml" />
  </node>


  <group if="$(arg pelican)">
    <node pkg="robot_agent" type="pelican_node" name="pelican_node" output="screen" /> 
  </group>

  <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->


</launch>

