<launch>
    <arg name="ground_truth_data" default="wifi_3_routers" />
    <arg name="scenario" default="1" />


    <node pkg="sampling_modeling" type="sampling_modeling_node.py" name="sampling_modeling_node" output="screen">
        <rosparam>
            num_gp: 3
            modeling_gp_0_kernel: [0.5, 0.5, 0.5]
            gating_gp_0_kernel: [0.75, 0.5, 0.05]
            modeling_gp_1_kernel: [0.65, 0.65, 0.5]
            gating_gp_1_kernel: [0.5, 0.5, 0.05]
            modeling_gp_2_kernel: [0.35, 0.35, 0.5]
            gating_gp_2_kernel: [1.25, 0.5, 0.05]
            EM_epsilon: 0.05
            EM_max_iteration: 100
            online_kernel_optimization: True
        </rosparam>
    </node>

    <remap from="measurement_channel" to="measurement_simulation"/>

    <node pkg="sampling_agent" type="sampling_agent_node" name="hector0" output="screen" >
        <rosparam>
            agent_type: "HECTOR"
            agent_id: "hector0"
            max_speed_ms: 4.0
            batterylife_ros_sec: 500
            navigation_height_m: 3.0
            takeoff_distance_m: 0.5
        </rosparam>
    </node>

    <node pkg="sampling_agent" type="sampling_agent_node" name="jackal0" output="screen" >
        <rosparam>
            agent_type: "JACKAL"
            agent_id: "jackal0"
            max_speed_ms: 2.0
            batterylife_ros_sec: 1000
        </rosparam>
    </node>
    
    <node pkg="sampling_agent" type="sampling_agent_node" name="jackal1" output="screen" >
        <rosparam>
            agent_type: "JACKAL"
            agent_id: "jackal1"
            max_speed_ms: 2.0
            batterylife_ros_sec: 1000
        </rosparam>
    </node>

    <node pkg="sampling_measurement" type="measurement_simulation_server.py" name="measurement_simulation_node" output="screen">
        <param name="measurement_trial" value="$(arg ground_truth_data)"/>
        <param name="poly_order" value="5"/>
        <param name="noise_stdev" value="0.5"/>
    </node>

    <node pkg="sampling_core" type="heterogeneous_adaptive_sampling_node" name="heterogeneous_adaptive_sampling" output="screen"> 
        <rosparam command="load" file="$(find sampling_core)/config/scenario$(arg scenario).yaml" />
        <param name="test_location_file" value="$(arg ground_truth_data).txt"/>
        <param name="groundtruth_measurement_file" value="$(arg ground_truth_data).txt"/>
    </node>

    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find sampling_gazebo_simulation)/rviz/samlping_visualization.rviz" /> -->
</launch>