<launch>
  <node pkg="sampling_core" type="sampling_simulation_node" name="sampling_simulation" output="screen"> 
    <rosparam>
            num_agents: 3
            model_parameters:
                - num_gaussian: 3
                  param0: [0.1, 0.1, 0.1]
                  param1: [0.5, 0.5, 0.1]
                  param2: [0.3, 0.3, 0.1]
                  max_iteration: 100
                  eps: 0.1
            data_path:
                - test_location: "gt_fake_GPS.txt"
                  initial_measurements: "init_fake_temperature.txt"
                  initial_locations: "init_fake_GPS.txt"
                  gt_measurements: "gt_fake_temperature.txt"
                  gt_locations: "gt_fake_GPS.txt"
            sampling_parameters:
                - selection_model: 1
                  variance_coef: 8.0
            graph_visualization_parameters:
                - map_frame: "mean"
                  map_id: 1
                  x_scale: 1.0
                  y_scale: 1.0
                  x_offset: 20.0
                  y_offset: 0.0
                  lower_bound: 0.0
                  upper_bound: 10.0
                - map_frame: "variance"
                  map_id: 2
                  x_scale: 1.0
                  y_scale: 1.0
                  x_offset: 40.0
                  y_offset: 0.0
                  lower_bound: 0.0
                  upper_bound: 3.0
            robot_visualization_parameter:
                - map_frame: "robot"
                  map_id: 3
                  x_scale: 2.0
                  y_scale: 2.0
                  x_offset: 0.0
                  y_offset: 0.0
                  lower_bound: 0.0
                  upper_bound: 1.0
            voronoi_visualization_parameter:
                - map_frame: "voronoi"
                  map_id: 4
                  x_scale: 1.0
                  y_scale: 1.0
                  x_offset: 0.0
                  y_offset: 0.0
                  lower_bound: 0.0
                  upper_bound: 1.0
            heterogeneous_parameter:
                - hetero_spaces: [ 0]
                  hetero_scale_factors: [ 1.0, 1.0, 1.0, 1.0]
                  mp0: [ 1.0, 1.0, 1.0, 1.0]
                  mp1: [ 1.0, 1.0, 1.0, 1.0]
                  mp2: [ 1.0, 1.0, 1.0, 1.0]
            obstacle_list:
                - agent_id: 0
                  obstacle_path: "obstacle_1.txt"
                - agent_id: 1
                  obstacle_path: "obstacle_1.txt"
         </rosparam>
  </node>

</launch>