<launch>
<!-- <env name="PYTHONPATH" value="$(env PYTHONPATH)"/> -->
    <node pkg="sampling_data" type="artifical_data.py" name="gt_data" output="screen">
        <rosparam command="load" file="$(find sampling_data)/config/artifical_data.yaml" />
        <rosparam>
            resolution: 0.000001
            temperature_file_name: "gt_temperature.txt"
            location_file_name: "gt_GPS.txt"
        </rosparam>
    </node>

    <node pkg="sampling_data" type="artifical_data.py" name="init_data" output="screen">
        <rosparam command="load" file="$(find sampling_data)/config/artifical_data.yaml" />
        <rosparam>
            resolution: 0.000005
            temperature_file_name: "init_temperature.txt"
            location_file_name: "init_GPS.txt"
        </rosparam>
    </node>
</launch>
