<launch>
<!-- <env name="PYTHONPATH" value="$(env PYTHONPATH)"/> -->
<node pkg="sampling_modeling" type="sampling_modeling_node.py" name="sampling_modeling_node" output="screen">
    <param name="num_gp" value="3"/>
    <param name="noise_stdev" value="0.1"/>
    <param name="EM_epsilon" value="0.05"/>
    <param name="EM_max_iteration" value="100"/>
    <rosparam>
        num_gp: 3
        modeling_kernel_l: [1.0, 2.0, 3.0]
        modeling_kernel_sigma_f: [5.0, 3.0, 2.0]
        modeling_kernel_sigma_y: [0.15, 0.15, 0.15]
        gating_kernel_l: [1.0, 2.0, 3.0] 
        gating_kernel_sigma_f: [0.5, 0.5, 0.5]
        gating_kernel_sigma_y: [0.0, 0.0, 0.0]
        noise_stdev: 0.1
        EM_epsilon: 0.05
        EM_max_iteration: 100
    </rosparam>
</node>
</launch>
